# .NET Core
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
TestResults/

# User-specific files
*.suo
*.user
*.vspscc
*.vsscc

# IDEs and editors
.vs/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## Visual Studio Trace Files
*.e2e

## Visual Studio code coverage results
*.coverage
*.coveragexml